<nav class="navbar header-top fixed-top navbar-expand-lg " style="background-color: #1e71b8">
    <!-- Brand -->
    <img src="assets/imagenes/logonuevo.png" height="30" width="30">
    &nbsp;&nbsp;
    <a class="navbar-brand" style="color: white;">TingüiClick</a>
    
  
    <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
            <button (click)="logout()" class="btn btn-primary" style="background-color: #1e71b8"><i class="fa fa-sign-out-alt fa-sm p-2 text-white"></i>Salir</button>
        </li>
    </ul>
</nav>