<!--=====================================
	Section Gray
	======================================-->

<div class="ps-section--gray">

  <div *ngIf="!cargando" class="container">

    <!--=====================================
  Products of category
  ======================================-->

    <div *ngFor="let category of categories; let lastIndex = last" class="ps-block--products-of-category">

      <!--=====================================
    Menu subcategory
    ======================================-->

      <div class="ps-block__categories">

        <h3>{{category.name}}</h3>

        <ul [attr.category-showcase]="category.name">
        </ul>

        <a class="ps-block__more-link" routerLink="products/{category.url}">Ver todo</a>

      </div>

      <!--=====================================
    Vertical Slider Category
    ======================================-->

      <div class="ps-block__slider">

        <div class="ps-carousel--product-box owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000"
          data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1"
          data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="500"
          data-owl-mousedrag="off">

          <a href="#">

            <img src="{{path}}img/slider/vertical/clothing-1.jpg" alt="">

          </a>

          <a href="#">

            <img src="{{path}}img/slider/vertical/clothing-2.jpg" alt="">

          </a>

          <a href="#">

            <img src="{{path}}img/slider/vertical/clothing-3.jpg" alt="">

          </a>

        </div>

      </div>

      <!--=====================================
    Block Product Box
    ======================================-->

      <div class="ps-block__product-box" [attr.category-pb]="category.url">

      </div>
      <!-- End Block Product Box -->


      {{lastIndex ? callback() : ""}}
    </div>
    <!-- End Products of category -->

  </div>
  <!-- End Container-->

  <div *ngIf="cargando" class="d-flex justify-content-center">
    <div class="spinner-border text-muted my-5"></div>
  </div>
</div>
<!-- End Section Gray-->
