<div class="sidebar-container" style="background-color: #E4CF50;">
    <br>
    <ul class="sidebar-navigation">
      <li class="header" style="background-color: #E4CF50;">Opciones</li>
      <li>
        <a routerLink="/inicio">
          <i class="fa fa-home" aria-hidden="true" style="font-size: 15px;"></i> Inicio
        </a>
      </li>
      <li>
        <a routerLink="/pedidos">
          <i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px;"></i> Pedidos
        </a>
      </li>
      <li>
        <a routerLink="/aliados">
          <i class="fa fa-briefcase" aria-hidden="true" style="font-size: 15px;"></i> Aliados
        </a>
      </li>
      <li>
        <a routerLink="/domiciliarios">
          <i class="fa fa-motorcycle" aria-hidden="true" style="font-size: 15px;"></i> Domiciliarios
        </a>
      </li>
      <li class="header" style="background-color: #E4CF50;">Configuracion</li>
      <li>
        <a routerLink="/usuarios" style="font-size: 15px;">
          <i class="fa fa-users" aria-hidden="true"></i> Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/tarifa" style="font-size: 15px;">
          <i class="fa fa-credit-card" aria-hidden="true"></i> Tarifas
        </a>
      </li>
      <li>        
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i> 
            Parametros
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #E4CF50;" >
            <a class="dropdown-item" href="#" style="color: black;">
              <i class="fa fa-id-card" aria-hidden="true" style="font-size: 13px;"></i>
              Tipo Identificación
            </a>
            
          </div>
      
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 15px;"></i> Perfil
        </a>
      </li>
    </ul>
  </div>
  
  
