<div class="sidebar-container" style="background-color: #fff239;">
    <br>
    <ul class="sidebar-navigation">
      <li class="header" style="background-color: #fff239;">Opciones</li>
      <li>
        <a routerLink="/inicio">
          <i class="fa fa-home" aria-hidden="true" style="font-size: 15px;"></i> Inicio
        </a>
      </li>
      <li>
        <a routerLink="/pedidos">
          <i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px;"></i> Pedidos
        </a>
      </li>
      <li  *ngIf="authService.hasRole('ROLE_ADMIN')">
        <a routerLink="/aliados">
          <i class="fa fa-briefcase" aria-hidden="true" style="font-size: 15px;"></i> Aliados
        </a>
      </li>
      <li  *ngIf="authService.hasRole('ROLE_ADMIN')">
        <a routerLink="/domiciliarios">
          <i class="fa fa-motorcycle" aria-hidden="true" style="font-size: 15px;"></i> Domiciliarios
        </a>
      </li>
      <li class="header" style="background-color: #fff239;" *ngIf="authService.hasRole('ROLE_ADMIN')">Configuracion</li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')">
        <a routerLink="/usuarios" style="font-size: 15px;">
          <i class="fa fa-users" aria-hidden="true"></i> Usuarios
        </a>
      </li>

      <li *ngIf="authService.hasRole('ROLE_ADMIN')">        
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i> 
            Parametros
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #fff239;" >
            <a routerLink="/tarifa" style="font-size: 15px;">
              <i class="fa fa-credit-card" aria-hidden="true"></i> Tarifas
            </a>
            
          </div>
      
      </li>
    
    </ul>
  </div>
  
  
