<div class="wrapper">
  
    <!-- NavBar start-->
    <app-nav-bar></app-nav-bar>
    <!-- NavBar end -->
  
    <!-- Main Sidebar start -->
    <app-side-bar></app-side-bar>
    <!-- Main Sidebar end -->
  
    <!-- Content Wrapper. Contains page content -->

    <app-inicio></app-inicio>

     <!-- Footer start-->
     <app-footer></app-footer>
     <!-- Footer end -->
    
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->