<detalle-usuario [usuario]="usuarioSeleccionado"></detalle-usuario>
<div class="card border-dark mb-5 my-5 ">
  <div class="card-header"><h6>Usuarios</h6></div>
  <div class="card-body text-black">
    
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded bg-white" (click)="crearUsuario()" type="button" placement="bottom" mdbTooltip="Crear Usuario">
        <i class="far fa-plus-square fa-lg"></i></button>

    </div>

    <div *ngIf="usuarios?.length==0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>

    <div>
        <table mdbTable class="table table-bordered tabled-striped table-sm" id="tabla" style="border-collapse: collapse;">
          <thead>
            <tr class="text-white" style="background-color: #089fd6;">
              <td width="50" *ngIf="authService.hasRole('ROLE_ADMIN')">Acciones</td>
              <td>Usuario</td>
              <td>Nombres</td>
              <td>Apellidos</td>
              <td>Identificación</td>
              <td>Telefono</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of elements | paginate: {itemsPerPage: 10, currentPage: pageUsu, id: 'pageUsua'}">
              <td width="50"  *ngIf="authService.hasRole('ROLE_ADMIN')">
                  &nbsp;
                <i class="fas fa-edit" (click)="abrirModal(el)" style="cursor: pointer;" ></i>
                &nbsp;&nbsp;
                <i class="fas fa-trash-alt" (click)='delete(el)' style="cursor: pointer;"></i>
              </td>
              <td>{{el.username}} </td>
              <td>{{el.nombres}} </td>
              <td>{{el.apellidos}} </td>
              <td>{{el.identificacion}} </td>
              <td>{{el.telefono}} </td>
              <td>{{el.email}} </td>
            </tr>
          </tbody>
          
        </table>
        <pagination-controls id="pageUsua" previousLabel="Anterior"
          nextLabel="Siguiente" (pageChange)="pageUsu = $event"></pagination-controls>
      </div>
    
    
  </div>
</div>