<detalle-pedido [pedido]="pedidoSeleccionado"></detalle-pedido>
<detalle-data [pedido]="pedidoSeleccionado"></detalle-data>
<factura></factura>

<div class="card border-dark mb-5 my-5 ">
    <div class="card-header"><h5>Pedidos</h5></div>
    <div class="card-body text-black">
      
      <div class="my-2 text-left">
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded bg-white" (click)="crearPedidos()" type="button" placement="bottom" ngbTooltip="Crear Pedido">
          <i class="far fa-plus-square fa-lg"></i></button>
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded bg-white" (click)="generarFactura()" type="button" placement="bottom" ngbTooltip="Reporte Facturación">
          <i class="fa fa-calendar fa-lg"></i></button>
       
      </div>

      <!-- Filtros -->
      <div class="form-row"> 
        <div class="form-group col-md-5">
          
          <input [matDatepicker]="fechaInicial" class="form-control"  
          style="display:inline; width:250px;" placeholder="Fecha Inicial" #fechainicial>
          <mat-datepicker-toggle [for]="fechaInicial"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicial></mat-datepicker>
          
          <input [matDatepicker]="fechaFinal" class="form-control"  
          style="display:inline; width:250px;" placeholder="Fecha Final" #fechafinal>
          <mat-datepicker-toggle [for]="fechaFinal"></mat-datepicker-toggle>
          <mat-datepicker #fechaFinal></mat-datepicker>

        </div>  
        
        <div class="form-group col-md-2">     
           
          <select  class="form-control" #aliado>
            <option [ngValue]="undefined" selected>
              Aliado
            </option>
            <option *ngFor="let ali of aliados" [ngValue]="ali.aliadoId">
              {{ali.razonSocial}}</option>
          </select>
        </div>  
        <div class="form-group col-md-2">
          <select  class="form-control" #domiciliario>
            <option [ngValue]="undefined" selected>
                Domiciliario
            </option>
            <option *ngFor="let dom of domiciliarios" [ngValue]="dom.domiciliarioId">
                {{dom.nombres}}</option>
          </select>
        </div>  
        <div class="form-group col-md-3">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded bg-primary text-white" (click)="filtrar()" type="button" placement="bottom" ngbTooltip="Reporte Facturación">
            Buscar</button>
        </div>  
      </div>
  
      <div *ngIf="pedidos?.length==0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>
  
      <div>
          <table mdbTable class="table table-bordered tabled-striped table-sm" id="tabla" style="border-collapse: collapse;">
            <thead>
              <tr class="text-white" style="background-color: #089fd6;">
                <td width="50" *ngIf="authService.hasRole('ROLE_ADMIN')">Acciones</td>
                <td>Alerta</td>
                <td>Nombre Cliente</td>
                <td>Dirección Cliente</td>
                <td>Numero Contacto</td>
                <td>Valor</td>
                <td>Fecha Registro</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of elements | paginate: {itemsPerPage: 10, currentPage: pagePed, id: 'pagePedi'}">
                <td width="50" >
                    &nbsp;
                  <i class="fas fa-edit" (click)="abrirModal(el)" style="cursor: pointer;" *ngIf="authService.hasRole('ROLE_ADMIN')" ></i>
                  &nbsp;&nbsp;
                  <i class="fa fa-eye" (click)='detalle(el)' style="cursor: pointer;"></i>
                  &nbsp;&nbsp;
                  <i class="fa fa-hourglass-end" (click)='recibido(el)' style="cursor: pointer;" *ngIf="el.estado == 0"></i>
                  &nbsp;&nbsp;
                  <i class="fa fa-building" (click)='entregado(el)' style="cursor: pointer;" *ngIf="el.estado == 2"></i>
                </td>
                <td>
                  <div id="red" *ngIf="el.alerta == 'rojo'"></div>
                  <div id="orange" *ngIf="el.alerta == 'naranja'"></div>
                  <div id="yellow" *ngIf="el.alerta == 'amarillo'"></div>
                  <div id="green" *ngIf="el.alerta == 'verde'"></div>
                </td>
                <td>{{el.nombreCliente}} </td>
                <td>{{el.direccionCliente}} </td>
                <td>{{el.numeroCelular}} </td>
                <td>{{el.valor}} </td>
                <td>{{el.fechaRegistro | date:'medium'}} </td>
                
                
              </tr>
            </tbody>
            
          </table>
          <pagination-controls id="pagePedi" previousLabel="Anterior"
            nextLabel="Siguiente" (pageChange)="pagePed = $event"></pagination-controls>
        </div>
      
      
    </div>
</div>